// DARK
$color-black: #000000;
$color-dark-brown: #765D4F;
$color-light-brown: #AF9C82;
$color-grey: #D3CFC9;

// BEIGE
$color-dark-beige: #CFC8B6;
$color-light-beige: #E1DBCE;
$color-dark-white: #EBEBE4;
$color-white: #ffffff;

// COLORS
$color-yellow: #E7D190;
$color-light-green: #B0C5B9;
$color-army-green: #819C90;

